<li><%= link_to 'Посты', posts_path %></li>
<li><%= link_to 'Категории', categories_path %></li>
<li><%= link_to 'Заявки', invitations_main_path %></li>
<li><%= link_to 'Подписки', subscriptions_main_path %></li>
<li><%= link_to "Выйти", destroy_user_session_path, method: :delete %></li>
