<footer>
	<div class="mainWrapper">
		<div class="contentWrap">
			<div class="socialWrap">
				<div class="shape">
					<p>Рассказать друзьям</p>
					<ul class="a2a_kit">
						<li>
							<a class="a2a_button_facebook">
							<img src="<%= asset_path('simb/fb.png') %>" />
							</a>
						</li>
						<li>
							<a class="a2a_button_twitter">
							<img src="<%= asset_path('simb/twi.png') %>" />
							</a>
						</li>
						<li>
							<a class="a2a_button_vk">
							<img src="<%= asset_path('simb/vk.png') %>" />
							</a>
						</li>
					</ul>
				</div>
				<div class="shape">
					<p>Подпишитесь на новые обзоры!</p>
          <%= form_for Subscription.new, :html => {:style => 'display:inline-flex; margin-left: 20px;'}, :remote => true do |f| %>
              <%= f.text_field :email, :class => "inputRound", placeholder: "Введите e-mail" %>
              <%= f.submit "Отправить", :class => "redBtn", style: "margin-left:5px; padding: 0px 6px;", remote: true%>
          <% end %>

				</div>
			</div>
			<ul class="navWrap">
					<li><a href="/about"> Обо мне</a></li>
					<li><a href="" data-toggle="modal" data-target="#myModal"> Посещу ваше заведение</a></li>
					<li>Планирую посетить</li>
			</ul>
			<div class="logosWrap">
				<a href="/">
				<img class="logo" src="<%= asset_path('simb/logo.png') %>"/>
				</a>
				<img src="<%= asset_path('simb/logoDS.png') %>"/>
			</div>
		</div>
	</div>
</footer>
