<footer>
	<div class="mainWrapper">
		<div class="contentWrap">
			<div class="socialWrap">
				<div class="shape">
					<p>Рассказать друзьям</p>
					<ul>
						<li>
							<a href="">
								<img src="<%=asset_path('simb/fb.png')%>"/>
							</a>
						</li>
						<li>
							<a href="">
								<img src="<%=asset_path('simb/twi.png')%>"/>
							</a>
						</li>
						<li>
							<a href="">
								<img src="<%=asset_path('simb/vk.png')%>"/>
							</a>
						</li>
					</ul>
				</div>
				<div class="shape">
					<p>Подписаться на новое</p>
					<input type="mail" class="inputRound" name="" placeholder="и-меил" />
				</div>
			</div>
			<ul class="navWrap">
					<li><a href="/about"> Обо мне</a></li>
					<li><a href="" data-toggle="modal" data-target="#myModal"> Посещу ваше заведение</li>
					<li>Планирую посетить</li>
			</ul>
			<div class="logosWrap">
				<a href="/">
				<img class="logo" src="<%= asset_path('simb/logo.png') %>"/>
				</a>
				<img src="<%= asset_path('simb/logoDS.png') %>"/>
			</div>
		</div>
	</div>
</footer>
