<header class="desctop">
	<div class="mainWrapper">
		<div class="headerContent">
			<div class="imagesWrap">
				
				<% Category.all.each do |category|%>
				  <%= link_to category do %>
				    <%= image_tag category.bon_img_type.url %>
				  <% end %>
				<% end %>
			</div>
			<div class="logoWrap">
				<%= link_to root_path do %>
				<img src="<%= asset_path('simb/logo.png') %>"/>
				<% end %>
				<% if current_user && current_user.has_role?(:admin) %>
					<%= link_to 'Добавить пост', new_post_path(), class: 'btn btn-link btn-icon' %>
				<% end %>
			</div>
		</div>
	</div>
	
</header>

<div class="mobHeader">
	<div class="mainWrapper">
		<div class="headerContent">
			<div class="logo">
				<%= link_to root_path do %>
					<img src="<%= asset_path('simb/logoMob.png') %>"/>
				<% end %>
			</div>
			<div class="cllps">
				<label for="ac">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</label>
			</div>
		</div>
		<input id="ac" name="accordion" type="checkbox" />
		<ul class="cllpsShowHide">
			<% Category.all.each do |category|%>
			<li>
				<%= link_to category do %>
					<%= category.name %>
				<% end %>
			</li>
			<% end %>
		</ul>
	</div>
</div>