<header class="desctop">
	<div class="mainWrapper">
		<div class="headerContent">
			<div class="imagesWrap">
				
				<% Category.all.each do |category|%>
				  <%= link_to category do %>
				    <%= image_tag category.bon_img_type.url %>
				  <% end %>
				<% end %>
			</div>
			<div class="logoWrap">
				<%= link_to root_path do %>
				<img src="<%= asset_path('simb/logo.png') %>"/>
				<% end %>
			</div>
		</div>
	</div>
	
</header>

<div class="mobHeader">
	<div class="mainWrapper">
		<div class="headerContent">
			<div class="logo">
				<%= link_to root_path do %>
					<img src="<%= asset_path('simb/logoMob.png') %>"/>
				<% end %>
			</div>
			<div class="cllps">
				<label for="ac">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</label>
			</div>
		</div>
		<input id="ac" name="accordion" type="checkbox" />
		<ul class="cllpsShowHide">
			<% Category.all.each do |category|%>
			<li>
				<%= link_to category do %>
					<%= category.name %>
				<% end %>
			</li>
			<% end %>
		</ul>
		<ul class="cllpsShowHide adminNavMob">
			<li><%= link_to 'Добавить пост', new_post_path() %></li>
            <li><%= link_to 'Список постов', posts_path %></li>
            <li><%= link_to 'Список категорий', categories_path %></li>
            <li><%= link_to 'Заявки', invitations_main_path %></li>
            <li><%= link_to 'Подписки', subscriptions_main_path %></li>


      <li><%= link_to "Выйти", destroy_user_session_path, method: :delete %></li>
		</ul>


	</div>
</div>