<section class="allPosts">
  <div class="mainWrapper">
    <h1>Все посты</h1>
    <ul class="titleAllPost">
      <li>Название:</li>
      <li>Адрес:</li>
      <li>Отметка: </li>
      <li></li>
      <li></li>

    </ul>
    <% @posts.each do |post|%>
    <ul class="listAllPost">
      <li>
        <%= link_to post do %>
          <%= post.title %>
        <% end %>
      </li>
      <li><%= post.location %></li>
      <li><%= post.score %></li>
      <li><%= link_to 'Редактировать', edit_post_path(post) %></li>
      <li><%= link_to 'Удалить пост', post, :method => :delete, :confirm => "Вы уверены?" %></li>
    </ul>
    <% end %>
  </div>
</section>