<section class="postCarouselSec">
	<div class="postCarousel">
    <% if @post.images.any? %>
      <% @post.images.each do |image| %>
        <div class="item" style="background-image:url(<%= asset_path(image.image.url(:slider)) %>);">
	        <%= link_to 'Обрезать', [:edit, image], title: 'Обрезать изображение', class: "edit" if @is_admin %>
			  </div>
	      
      <% end %>
    <% else %>
        <div class="item" style="background-image:url(<%= asset_path(@post.preview.url) %>);"></div>
    <% end %>
	</div>
	<div class="mainWrapper">
		<div class="postInfo">
			<div class="info" id="post_<%= @post.id %>">
				<ul class="aboutParth">
					<li>
						<div class="left">
							<p class="whatIsIt">
								<a href="/categories/<%= @post.category_id %>">
								<%= @post.category.name %></a>
							</p>
							<h3><%= @post.title %></h3>
						</div>
						<div class="right">
							
							<p class="whatIsIt">Оценка</p>
						
							<span class="vote">
								<%= @post.score %> <img src="<%= asset_path('simb/vote.png') %>">
							</span>
						</div>
					</li>
					<li>
					<span class="location">
						<img src="<%= asset_path('simb/location.png') %>" />
						<%= @post.location %></span>
						
					</li>

				</ul>
        <% if @is_admin %>
          <div class="card-action clearfix">
            <div class="pull-left">
              <%= link_to 'редактировать', edit_post_path(@post), class: 'btn btn-link btn-icon',
                          id: "edit_post_link_#{@post.id}", remote: true %>
            </div>
          </div>
        <% end %>
			</div>
			<div class="social">
				<div class="sn">
				<article>Рассказать друзьям</article>
				<ul>
						<li>
							<a href="https://www.facebook.com/sharer/sharer.php" class="js-social-share" data-url-param-name='u'>
								<%= image_tag 'simb/fb.png' %>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/intent/tweet" class="js-social-share">
								<%= image_tag 'simb/twi.png' %>
							</a>
						</li>
						<li>
							<a href="https://vk.com/share.php" class="js-social-share">
								<%= image_tag 'simb/vk.png' %>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="postBody">
	<div class="mainWrapper ">
		<ul class="postTags">
			<% @post.tag_list.each do |tag|%>
				<li><%= link_to "##{tag}", show_tag_path(tag) %></li>
			<% end %>
		</ul>
	</div>
</section>

<%= render 'post_sections/post_sections' %>

<% if @post.gallery %>
	<section class="postBody">
		<div class="mainWrapper ">
			<div class="postInfo ">
				<div class="post_section ">
					<div class="fotorama" data-width="100%" data-maxheight="80%" data-allowfullscreen="true" data-loop="true" data-nav="thumbs" data-thumbwidth="140" data-thumbheight="100">
				    <% @post.gallery.images.each do |image| %>
				     	<%= image_tag image.image.url, data: { thumb: image.image.url(:small) } %>
				    <% end %>
					</div>
				</div>
			</div>
		</div>
	</section>
<% end %>

<%= render 'comments/form', post: @post %>
<%= render 'comments/comments' %>

<%= render 'main/posts' %>
