<section class="postCarouselSec">
	<div class="postCarousel">
    <% 3.times do |n| %>
		  <div class="item" style="background-image:url(<%= asset_path(@post.preview_url) %>);"></div>
    <% end %>
	</div>
	<div class="mainWrapper">
		<div class="postInfo">
			<div class="info" id="post_<%= @post.id %>">
				<ul class="aboutParth">
					<li>
						<p class="whatIsIt"><%= @post.category.name %></p>
						<h3><q><%= @post.title %></q></h3>
						<span class="location">
						<img src="<%= asset_path('simb/location.png') %>" />
						<div>
						<%= @post.location.html_safe %>
						</div></span>
					</li>
					<li>
						<p class="whatIsIt">Оценка</p>
						<span class="vote">
							<%= @post.score %> <img src="<%= asset_path('simb/vote.png') %>">
						</span>
					</li>
				</ul>
        <% if current_user && current_user.has_role?(:admin) %>
          <div class="card-action clearfix">
            <div class="pull-left">
              <%= link_to 'редактировать', edit_post_path(@post), class: 'btn btn-link btn-icon',
                          id: "edit_post_link_#{@post.id}", remote: true %>
            </div>
          </div>
        <% end %>
			</div>
			<div class="social">
				<div class="sn">
				<article>Рассказать друзьям</article>
				<ul>
					<li>
						<a href="">
						<img src="<%= asset_path('simb/fb.png') %>" />
						</a>
					</li>
					<li>
						<a href="">
						<img src="<%= asset_path('simb/twi.png') %>" />
						</a>
					</li>
					<li>
						<a href="">
						<img src="<%= asset_path('simb/vk.png') %>" />
						</a>
					</li>
				</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="postBody">
	<div class="mainWrapper ">
		<ul class="postTags">
			<% @post.tag_list.each do |tag|%>
				<li><a href="javascript:void(0)">#<%= tag %></a></li>
			<% end %>
		</ul>
	</div>
</section>

<%= render 'post_sections/post_sections' %>
</br>
<%= render 'comments/form', post: @post %>
</br>
<%= render 'comments/comments' %>

<%= render 'main/posts' %>