<div id="myModal" class="modal fade invitationModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="<%= asset_path('modals/bonLogo.png') %>" />
        <div class="closeCustom">
          <img  data-dismiss="modal" src="<%= asset_path('modals/close.png') %>"/>
        </div>
        
      </div>
      <div class="modal-body">
        <div class="err">Почта - обязательное поле...</div>
        <%= bootstrap_form_for(Invitation.new, remote: true) do |f| %>
          <%= f.text_field :name, hide_label: true, placeholder: 'Ваше имя' %>
          <%= f.email_field :email, hide_label: true, placeholder: 'Ваша почта' %>
          <%= f.text_area :message, hide_label: true, placeholder: 'Комментарий' %>
          <%= f.submit "Отправить", class:"redBtn" %>
        <% end %>
      </div>
    </div>

  </div>
</div>