
<section class="allPosts">
  <div class="mainWrapper">
    <h1>Все Категории</h1>
    <ul class="titleAllPost">
      <li>Название:</li>
      <li>Описание:</li>
      <li></li>

    </ul>
    <% @categories.each do |category|%>
    <ul class="listAllPost allCat">
      <li>
        <%= link_to category do %>
          <%= category.name %>
        <% end %>
      </li>
      <li><%= category.description.html_safe  %></li>
      <li><%= link_to 'Редактировать', edit_category_path(category) %></li>
    </ul>
    <% end %>
    <%= link_to 'Добавить категорию', new_category_path, class: 'enterBtn fixedBtn' %>
  </div>
</section>
