<!DOCTYPE html>
<html>
  <head>
    <title>Bon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="<%= asset_path('favicon.png') %>"" type="image/x-icon">
  </head>

  <body>
    
    <% if current_user && current_user.has_role?(:admin) %>
      <div class="adminWrap">
        <div class="mainWrapper">
          <ul class="adminNav">
            <li><%= link_to 'Добавить пост', new_post_path() %></li>
            <li><%= link_to 'Список постов', posts_path %></li>
            <li><%= link_to 'Список категорий', categories_path %></li>
            <li><%= link_to 'Заявки', "/invitations" %></li>
            
            <li><%= link_to "Выйти", destroy_user_session_path, method: :delete %></li>
          </div>
        </div>
      </div>
    <% end %>
    <%= render 'main/header' %>
    <%= yield %>

    <%= render 'main/footer' %>
    <%= render 'modals/booking' %>
  </body>
</html>
