<!DOCTYPE html>
<html>
  <head>
    <title><%= @meta.title %></title>
    <meta name="desription" content="<%= @meta.description %>" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="<%= @meta.title %>"/>
    <meta property="og:image" content="<%= asset_url('about/bonAbout.png') %>"/>
    <meta property="og:description" content="<%= @meta.description %>"/>
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:title" content="<%= @meta.title %>"/>
    <meta property="twitter:image" content="<%= asset_url('about/bonAbout.png') %>"/>
    <meta property="twitter:description" content="<%= @meta.description %>"/>
    <link rel="shortcut icon" href="<%= asset_path('favicon.png') %>" type="image/x-icon">
  </head>

  <body>
    <div class="ui sidebar menu inverted vertical bon-sidebar links editable">
      <%= link_to root_path, class: 'logo' do %>
        <img src="<%= asset_path('simb/logoMobWhite.png') %>"/>
      <% end %>
      <% Link.sidebar.each do |link| %>
        <%= render partial: 'links/link', locals: { link: link } %>
      <% end %>
      <% if @is_admin %>
        <div class="link-wrapper manage-wrapper">
          <a href="#" class="item new"><strong>Добавить ссылку</strong></a>
          <%= form_for Link.new, html: { style: 'display:none;' }, remote: true do |f| %>
            <%= f.hidden_field :position, value: 'sidebar' %>
            <%= f.text_field :text, placeholder: 'Текст ссылки' %>
            <%= f.text_field :url, placeholder: 'URL' %>
            <%= f.submit 'Добавить' %>
          <% end %>
        </div>
        <a href="#" data-toggle="modal" data-target="#metaModal" class="item"><strong>SEO</strong></a>
      <% end %>
    </div>
    <div class="pusher">
      <% if @is_admin %>
        <div class="adminWrap">
          <div class="mainWrapper">
            <ul class="adminNav">
              <%= render 'main/admin_menu' %>
            </ul>
          </div>
        </div>
      <% end %>
      <%= render 'main/header' %>
      <%= yield %>
      <%= render 'main/footer' %>
    </div>
    <%= render 'modals/booking' %>
    <%= render 'modals/subscribe' %>
    <%= render 'modals/meta' if @is_admin %>
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
  </body>
</html>
