<!DOCTYPE html>
<html>
  <head>
    <title>Bon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Bon"/>
    <meta property="og:image" content="<%= asset_path('/about/bonAbout.png') %>"/>
    <meta property="og:description" content="#bon - not just a dog!"/>
    <meta property="og:url" content="https://bon-staging.herokuapp.com/">
    <link rel="shortcut icon" href="<%= asset_path('favicon.png') %>" type="image/x-icon">
  </head>

  <body>
    <div class="ui sidebar menu inverted vertical bon-sidebar">
      <%= link_to root_path, class: 'logo' do %>
        <img src="<%= asset_path('simb/logoMobWhite.png') %>"/>
      <% end %>
      <%= render Link.sidebar %>
    </div>
    <div class="pusher">
      <% if current_user && current_user.has_role?(:admin) %>
        <div class="adminWrap">
          <div class="mainWrapper">
            <ul class="adminNav">
              <%= render 'main/admin_menu' %>
            </ul>
          </div>
        </div>
      <% end %>
      <%= render 'main/header' %>
      <%= yield %>
      <%= render 'main/footer' %>
    </div>
    <%= render 'modals/booking' %>
    <%= render 'modals/subscribe' %>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
  </body>
</html>
